.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/avenue-g1c5cb5f27_1920.jpg');
    background-size: cover;
}

.wrapper{ 
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper.active{
    height: 520px;
}

.wrapper .formBox{
    width: 100%;
    padding: 40px;
}


.wrapper .formBox.register{
    position: absolute;
    transform: translateX(410px);
}

.formBox h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.inputBox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.inputBox input:focus~label,
.inputBox input:valid~label{
    top: -5px;
}

.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.inputBox .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.forget{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: center;
}

.forget a{
    color: #162938;
    text-decoration: none;
}

.forget a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.loginRegister{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.loginRegister p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.loginRegister p a:hover{
    text-decoration: underline;
}