.slider {
    height: 80vh;
    width: 80vw;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .slide-image {
    flex: 1;
    background-size: cover;
    background-position: center;
  }
  
  .slide-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  
  .slide-content h2 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .slide-content p {
    margin: 0 0 20px;
    font-size: 16px;
    text-align: center;
  }
  
  .slide-content button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slide-content button:hover {
    background-color: #333;
  }
  .main {
    padding: 30px;
    margin: 0;
    height: 80vh;
    background: linear-gradient(to right, #bbd9d2 30%, #099b79 30%);
  }