.search-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-image: url('../images/jungle.jpg');
    background-size: cover;
    background-color: #e1e1e1;
    filter: brightness(0.8);
  }
  
  /* .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 50vw;
    background-image: url('../images/jungle.jpg');
    background-size: cover;
    filter: brightness(0.5);
  } */
  .search-bar {
    height: 4vw;
    display: flex;
    justify-content: space-between;
    width: 60vw;
    
    align-items: center;
    background-color: rgba(173, 216, 230, 0.3);
    padding: 10px;
  }
  
  .location input[type="text"]{
    padding: 5px;
    height: 30px;
    margin: 20px;
    border: none;
    width: 10vw;
  }
  .search-field input[type="text"] {
    padding: 5px;
    /* margin-right: 20px; */
    height: 30px;
    border: none;
    width: 38vw;
    font-family: Arial, sans-serif; /* Set the font family */
    font-size: 16px; /* Set the font size */
    color: #333;
  }
  
   img {
    cursor: pointer;
    object-fit: cover;

  }
  
  .location select {
    padding: 5px;
    height: 40px;
    margin-left: 20px;
    border: none;
    width: 16vw;
    font-family: Arial, sans-serif; /* Set the font family */
    font-size: 16px; /* Set the font size */
    color: #333;
  }
 
  
  
  .location select option:first-child {
    display: none; 
  }
  
  .location select:focus {
    outline: none; 
  }