.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #202124;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  
  .sidebar.active {
    transform: translateX(0);
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background-color: #333;
  }
  
  .menu-item:active {
    background-color: #555;
  }
  